# Environment Variables
# If you are deploying this application outside of AI Studio (e.g. to Vercel),
# you will need to add the following environment variable to your deployment platform:

VITE_SALUBRIOUS_GEMINI_API=your_gemini_api_key_here
